/* CSS base */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Impede a barra de rolagem horizontal e vertical */
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
}

.barra,
.barra2,
.barra4 {
  background-color: #2C89A0; /* Cor de fundo original */
  width: 100%;
}

.barra {
  background-color: #2C89A0; /* Cor de fundo original */
  height: 60px; /* Ajustado a altura da barra */
  position: fixed; /* Fixa a barra no topo da tela */
  top: 0; /* Posição superior */
}

.barra2 {
  height: 200px; /* Ajustado a altura da barra 2 */
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  margin-bottom: 540px;
}

.barra4 {
  height: 200px; /* Ajustado a altura da barra 4 */
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.cabecalho {
  position: sticky;
  top: 0; /* Posiciona o cabeçalho no topo da tela */
  z-index: 10; /* Garante que o cabeçalho fique acima do .container */
  background-color: #ffff; /* Cor de fundo original */
  height: 100px;
  width: 100%;
  margin-top: 61px;
}

.conteudo {
  display: flex;
  align-items: center;
}

.logo {
  width: 90px;
  height: 50px;
  flex-shrink: 0;
  margin-bottom: 15px;
  margin-left: 120px;
  margin-right: 50px;
}

.barra-vertical {
  display: inline-block;
  width: 4px ;
  min-width: 4px; /* Largura da barra */
  border-radius: 70px;
  height: 30px; /* Altura da barra */
  background-color: #000; /* Cor da barra */
  margin: 0 10px; /* Espaçamento ao redor da barra */
  vertical-align: middle; /* Alinhamento vertical */
}

.frase,
.radoc {
  color: #0B1728;
  text-align: center;
  font-family: "Leelawadee UI";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Estilos da tela de cadastro */
.tela-cadastro {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 67%;
  overflow-y: auto;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 20px;
  margin-top: 61px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 9999;
    
}
.tela-cadastro h2 {
  margin-bottom: 40px;
  color: #0B1728;
  font-family: "Leelawadee UI";
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.label-input {
  margin-bottom: 20px;
  color: #000;
  font-family: "Leelawadee UI";
  font-size: 1rem;
  font-weight: 400;
}

.label-input label {
  display: block;
}

input {
  border: none; /* Remove todas as bordas */
  border-bottom: 1px solid black; /* Adiciona apenas uma borda inferior */
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.error {
  color: red;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.btnCriar {
  width: 129.67px;
  height: 28.937px;
  display: block; /* Alterado para display block */
  margin: auto; /* Adicionado para centralizar horizontalmente */
  background-image: linear-gradient(90deg, #2C89A0 77.69%, #000 130.45%);
  color: #FFF;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 38px;
  margin-bottom: 20px;
}



/* Responsividade */
@media (max-width: 576px) {
  .tela-cadastro {
    width: 80%;
    height: 80%;
  }
}
